/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: -webkit-linear-gradient(top, #315481, #918e82 100%);
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  padding: 70px auto auto auto;
  font-size: 1.2em;
  
}

.mHeader {
  background: #d2edf4;
  background-image: -webkit-linear-gradient(top, #d0edf5, #e1e5f0 100%);
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  //  position: relative;
  height: 100%;
}

#login-buttons {
  display: inline-block;
  margin-right: 0.2px;
  line-height: 1;
  a.login-link-text {
    visibility: visible;
    text-decoration: none !important;
    margin-top: 5px;
    display: block;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
    padding: 4px 15px 3px;
    font-family: "ProximaNova-Semibold";
    margin-left: 17px;
    background-color: #464647;
  }
}

h1 {
  font-size: 1.5em;
  margin: 0 1em 10px 0;
  display: inline-block;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  .text {
    margin-left: 10px;
  }
  .checked .text {
    text-decoration: line-through;
  }
  .private {
    background: #eee;
    border-color: #ddd;
  }
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task {
  input {
    box-sizing: border-box;
    padding: 10px 0;
    //  background: transparent;
    //  border: none;
    width: 100%;
    //  padding-right: 80px;
    font-size: 1em;
  }
  //  input:focus {
  //    outline: 0;
  //  }
}

// insipirée de http://codepen.io/ZheYeti/pen/qZpeYj
.awesome-form {
  padding: 20px;
  //  margin:20% auto 0 auto;
  height: auto;
  overflow: hidden;
  background: #f9f9f9;
  .input-group {
    display: inline-block;
    position: relative;
  }
  input,
  label {
    //
    //    width: 100%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
    line-height: 26.4px;
  }
  input {
    width: 40em;
    max-width: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid lightgray black;
    color: gray;
  }
  .formTitre {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    font-style: italic;
    color: #bbb;
    transition: .2s ease all;
  }
  input {
    &:focus {
      border-color: cornflowerblue;
      ~ label {
        top: 0;
        font-size: 0.8em;
        color: deepskyblue;
      }
    }
    &.has-value ~ label {
      top: 0;
      font-size: 12px;
      color: cornflowerblue;
    }
  }
}

